<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="js/lib/jquery.lionbars.css">
  </head>
  <body>

<div id="gmailer">

    <div id="control-bar" class="mask box-shadow">
      <div class="btn-group">
        <button id="inboxBtn" class="btn pull-left"><i class="icon-inbox"></i> Inbox</button><br/>
        <button id="composeBtn" class="btn danger pull-left"><i class="icon-pencil"></i> Compose</button>
      </div>
    </div>

    <div id="inbox" class="span5 pull-right no-left">

        <div id="inbox-header-wrap" class="box-shadow">
          <div id="inbox-header-inner" class="clearfix">
            <span class="pull-left short-text">
              <i class="icon-envelope"></i> 
              You've got GMAIL! <span class="count"></span> unread emails
            </span>
            <i id="close" class="icon-remove pull-right"></i>
          </div>
        </div>


        <ul id="emails"></ul>
  
        <script id="email-template" type="text/template">
          <a class="clearfix email">
            <div class="span1 gravitar">
              <img src="<%= gravitar %>" alt="Author's Gravitar" />
            </div>
            <div class="email-body">
              <div class="clearfix space">
                <time class="time right muted timeago"><%= time %></time>
                <span class="strong blue author left"><%= author %></span>
              </div>
              <span class="title"><%= title %></span>
              <span class="summary"><%= summary %></span>
            </div>
          </a>
          <div class="separator"></div>
        </script><!-- #email-template -->

    </div>

  

</div>
  

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone.js"></script>

  <script src="js/lib/jquery.lionbars.0.3.min.js"></script>
  <script src="js/lib/jqXMLUtils.js"></script>
  <script src="js/lib/jquery.hoverIntent.min.js"></script>
  <script src="js/lib/md5.min.js"></script>
  <script src="js/lib/jquery.timeago.js"></script>

  <script src="js/Utilities.js"></script>
  <script src="js/Navigator.js"></script>
  <script src="popup.js"></script>
  </body>
</html>