body {
	background-image: url(../img/noise.gif);
  height: 310px;
  min-width: 380px;
}

#control-bar {
  width: 105px;
  height: 320px;
  float: left;
}

#header-wrapper {
  background-color: #555;
  padding-bottom: 3px;
}

#header {
  padding: 0px 15px;
  background: url(../img/grey_texture.png);
  text-shadow: 1px 1px 1px #fff;
}

#header h1 {
  font-size: 1em;
  maring-bottom: 0px;
  font-weight: normal;
  /*text-transform: uppercase;*/
  color: #555;
  background: url(../img/logo.png) left center no-repeat;
  padding-left: 30px;
}

#header h1 em {
  font-size: 1.4em;
  font-style: normal;
  font-weight: bold;
  color: #333;
}

.no-left {
  margin-left : 0px;
}

.email-body {
  width: 287px;
  float: left;
}

.gravitar {
  margin-left: 10px;
  padding-top: 4px;
}

/* above is all approved */

.mask {
  background: rgba(0,0,0,0.9);
}

.box-shadow {
  box-shadow : 0 0px 5px rgba(0, 0, 0, 0.6);
}

#controls {
  margin-right : -20px;
}

#inbox-header-wrap {
  background: rgba(0,0,0,0.15);
}

#inbox-header-inner {
  padding: 6px 12px 2px 9px;
}

#close:hover {
  background: #B5362C;
}


.box-round {
  -webkit-border-radius: 7px; 
     -moz-border-radius: 7px; 
          border-radius: 7px;   
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

}

#content {
	min-width: 390px;
	overflow: hidden;
	padding: 10px 8px;

}

.span6 {
  width: 300px;
}

nav {
	margin-bottom: 10px;
}

#emails {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.btn b {
	font-weight: normal;
	color : rgba(208, 0, 24, 1);
}

a.email {
	cursor: pointer;
}

a.email  {
	display: block;
	padding: 10px 5px;
	/*border-top: 1px #E5E5E5 solid;*/
	color: #404040;
}

a.email.last a {
	border-bottom: 1px #E5E5E5 solid;
	
}

a.email:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.7);
	color: #404040;
}

.strong {
	font-weight: bold;
}

.blue {
  color: #08C;
}

.author : {
  font-size: 1.3em; 
  margin-bottom: 5px; 
}



.time {
  text-align: right;
  font-size: 0.8em;
}

.summary, .title {
  display: block;
  width: 97%;
  font-size: 0.87em;
}

.summary {
  /*display: none;*/
}

.title {
  display: block;
	font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 8px;
}

a.email:hover .summary {
	display: block;
}

.separator {
  display: block;
  height: 1px;
  background-color : rgba(0,0,0,0.1);
  border-bottom: 1px solid #fff;
}


.muted {
  color : #888888;
}

.right {
	float: right;
}

.left {
	float: left;
}

footer {
  margin-top: 7px;
padding-top: 0px;
}



/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

